name: CI/CD for auth-service

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: ${{ runner.os }}-gradle-
      - run: chmod +x ./gradlew
      - name: Build Gradle
        run: ./gradlew clean build --no-daemon
      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        if: success()
        with:
          name: auth-service-jar
          path: service/build/libs/*.jar
  
  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Use already builded artifact
        uses: actions/download-artifact@v4
        with:
          name: auth-service-jar
          path: service/build/libs/
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r test/requirements.txt
      - name: Run auth-service
        run: |
          java -jar service/build/libs/*.jar --spring.profiles.active=dev_h2 &
          sleep 10
      - name: Run functional tests
        run: |
          cd test
          pytest -v --base-url http://localhost:8081

  # publish-docker:
  #   needs: test
  #   if: github.ref == 'refs/heads/main'
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Download JAR artifact
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: auth-service-jar
  #         path: service/build/libs/

  #     - name: Log in to Docker Hub
  #       uses: docker/login-action@v2
  #       with:
  #         username: ${{ secrets.DOCKER_USERNAME }}
  #         password: ${{ secrets.DOCKER_PASSWORD }}

  #     - name: Build and push Docker image
  #       uses: docker/build-push-action@v4
  #       with:
  #         context: .
  #         file: Dockerfile
  #         push: true
  #         tags: ${{ secrets.DOCKER_USERNAME }}/auth-service:latest